mpi_bug1.c
mpi_bug2.c
mpi_bug3.c
mpi_bug4.c
mpi_bug5.c
mpi_bug6.c

mpi_bug1
mpi_bug2
mpi_bug3
mpi_bug4
mpi_bug5
mpi_bug6

mpi_solved1
mpi_solved2
mpi_solved3
mpi_solved4
mpi_solved5
mpi_solved6


mpi6_first.c
*~
sort
mpi_bug6
